* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

.wraper {
  margin: 20px auto;
  height: 440px;
  width: 440px;
  position: relative;
}

#leftPart {
  display: block;
  float:left;
  padding-top: 4px;
}

#rightPart {
  display: block;
  float: left;
}

#centerPart {
  position: absolute;
  left:40px;
  top: 40px;
  border: 9px solid #ffffff;
  box-shadow: 0px 0px 10px  #000000;
}

/*.wraper {
  width: 960px;
  height: 1400px;
  margin: 20px auto;
  background: #c9c9c9;


}

.big-set {
  width: 900px;
  height: 900px;
  margin: 20px auto;

}

.small-set {
  width: 900px;
  margin: 20px auto;
  height: 400px;
}

.block {
  width: 275px;
  height: 180px;
  margin: 10px 12px;
  float: left;
  text-align: center;


}

.small {
  height: 178px;
}*/
